.wrapper {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.base_block {
    padding: 20px 35px;
    background: #00000030;
    border-radius: 20px;
    backdrop-filter: blur(10px);
}

.title {
    font-size: 20px;
    font-weight: 600;
}