.header {
    /* width: 100%; */
    position: relative;
    margin: 10px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: absolute;
    height: 60px;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
}

.city {
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

.svg {
    height: 100%;
}

.svg_sun {
    fill: #f5cd00;
}

.svg_text {
    fill: #1e9fff;
}