.header {
    /* width: 100%; */
    margin: 10px;
    padding: 10px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 20px 10px;
    padding-bottom: 10px;
}

.city {
    margin-right: 20px;
    font-size: 20px;
    font-weight: 600;
    text-decoration: underline;
    cursor: pointer;
}

.svg {
    height: 100%;
}

.svg_sun {
    fill: #f5cd00;
}

.svg_text {
    fill: #1e9fff;
}