.cover {
    position: fixed;
    z-index: 1000;
    inset: 0;
    background: #00000050;
    animation: transitionBlur 0.5s ease-out forwards normal;
}

.modal {
    padding: 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 400px;
    background: #00000050;
    border-radius: 20px;
}

.modal_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}

.modal_close {
    width: 30px;
    height: 30px;

    & svg {
        width: 100%;
        height: 100%;
    }
}


.title {
    font-size: 25px;
    font-weight: 600;
}

.modal input {
    border: 1px solid #000;
    width: 100%;
    height: 30px;
    flex: 0 0 30px;
    padding: 0 10px;
    border-radius: 8px;
}

.list {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex: 1 1 auto;
}

.list_item {
    font-weight: 500;
    cursor: pointer;
    text-decoration: underline;
}

@keyframes transitionBlur {
    from {
        backdrop-filter: blur(0px);
        -webkit-backdrop-filter: blur(0px);
    }

    to {
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }
}

@media(max-width:640px) {
    .cover {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .modal {
        /* padding-top: 50px; */
        width: auto;
        height: auto;
        /* width: 100vw; */
        /* height: 100vh; */
        inset: 0;
        transform: none;
        border-radius: 0;
    }

    .list {
        font-size: 14px;
        padding-top: 0;
        margin-top: 10px;
        overflow-x: hidden;
        overflow-y: auto;
        gap: 30px;
    }
}